<div class="container mt-4">
    <div class="row">
        <div class="col-8">
            <H5>Add Record for {{this.globalService.Exercise}}</H5>
        </div>
        <div class="col"><a class="add"
                role="button" (click)="addClicked()">
                <img class="addCloseImage" src={{imgSrc}}>
            </a></div>
    </div>
    <div [ngbCollapse]="addNotClicked">
        <div class="card card-body">
            <form [formGroup]="RecordForm" (ngSubmit)="onSubmit()">

                <div class="mb-3">
                    <div class="row">
                        <div class="col-8">
                            <label for="weight" class="col-form-label" style="font-size: small;">Weight</label>
                            <input type="number" class="form-control" id="folder-name" formControlName="Weight"
                                placeholder="Enter weight in KG">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-8">
                            <label for="weight" class="col-form-label" style="font-size: small;">Total Reps</label>
                            <input type="number" class="form-control" id="folder-name" formControlName="Reps"
                                placeholder="Enter number of repetions">
                        </div>

                    </div>
                    <div>
                        &nbsp;
                    </div>
                    <div class="row">
                        <div class="col-4"><button type="submit" class=" btn buttonbg"
                                style="color: white;">Add</button> </div>
                    </div>

                </div>
            </form>
        </div>

    </div>
    <div>
        &nbsp;
    </div>
    <h6>{{this.globalService.Exercise}}</h6>
    <div class="accordion divwidth" id="accordionPanelsStayOpenExample">
        <div class="accordion-item">
            <h2 class="accordion-header">
                <button class="accordion-button" type="button" (click)="collapseOne = !collapseOne" [attr.aria-expanded]="!collapseOne" aria-controls="collapseOne">
                    Today
                </button>
            </h2>
            <div id="panelsStayOpen-collapseOne" class="accordion-collapse collapse show" [ngbCollapse]="collapseOne">
                <div class="accordion-body">
                    <div class="card" style="margin-left: -7px;overflow-x: overlay;
                    height: 200px;" *ngIf="Todaydata.length>0">
                        <ul class="list-group list-group-flush" *ngFor="let x of Todaydata">
                            <!--  -->

                            <li class="list-group-item">
                                <div class="row">
                                    <div class="col">
                                        {{x.time}}
                                    </div>
                                    <div class="col">
                                        <span style="color: orange;">{{x.Weight}} KG</span>
                                    </div>
                                    <div class="col">
                                        <span style="color: greenyellow;">{{x.Reps}} rep</span>
                                    </div>
                                    <div class="col">
                                        <span><a data-bs-toggle="modal" data-bs-target="#exampleModal" (click)="onEditClick(x)"><img class="listIcon" src="../../../assets/pen.png"></a> |<a> <img
                                           (click)="onDeleteClick(x)"     class="listIcon" src="../../../assets/delete.png"></a></span>
                                    </div>
                                </div>
                            </li>

                            <!-- <li class="list-group-item">{{x.foldername}} <span class="span"><img class="listIcon"src="../../../assets/arrow-right-solid.svg"  alt="goto"></span></li> -->
                        </ul>

                    </div>
                    <div class="card" style="margin-left: -7px;" *ngIf="Todaydata.length==0">
                        <p><strong>No Data Found</strong></p>
                                            </div>
                </div>
            </div>
        </div>
        <div class="accordion-item">
            <h2 class="accordion-header">
                <button class="accordion-button collapsed" type="button" (click)="collapseTwo = !collapseTwo"
                     [attr.aria-expanded]="!collapseTwo" aria-controls="collapseTwo">
                    Earlier
                </button>
            </h2>
            <div id="collapseTwo" class="accordion-collapse collapse" data-bs-parent="#accordionExample" [ngbCollapse]="collapseTwo">
                <div class="accordion-body">
                    <div class="card" style="margin-left: -7px;overflow-x: overlay;
                    height: 200px;" *ngIf="EarlierData.length>0">
                        <ul class="list-group list-group-flush" *ngFor="let x of EarlierData">
                            <!-- *ngFor="let x of Todaydata" -->

                            <li class="list-group-item">
                                <div class="row">
                                    <div class="col">
                                        {{x.date}}
                                    </div>
                                    <div class="col">
                                        <span style="color: orange;">{{x.Weight}} KG</span>
                                    </div>
                                    <div class="col">
                                        <span style="color: greenyellow;">{{x.Reps}} rep</span>
                                    </div>
                                    <div class="col">
                                        <span><a data-bs-toggle="modal" data-bs-target="#exampleModal" (click)="onEditClick(x)"><img class="listIcon" src="../../../assets/pen.png"></a> | <a (click)="onDeleteClick(x)"><img
                                                class="listIcon" src="../../../assets/delete.png"></a></span>
                                    </div>
                                </div>
                            </li>

                            <!-- <li class="list-group-item">{{x.foldername}} <span class="span"><img class="listIcon"src="../../../assets/arrow-right-solid.svg"  alt="goto"></span></li> -->
                        </ul>

                    </div>
                    <div class="card" style="margin-left: -7px;" *ngIf="EarlierData.length==0">
<p><strong>No Data Found</strong></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
  
  <!-- Modal -->
  <div class="modal fade" id="exampleModal" tabindex="-1" data-bs-backdrop="static" data-bs-keyboard="false" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="exampleModalLabel">Edit now</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" (click)="onCloseClick()"></button>
        </div>
        <div class="modal-body">
            <form [formGroup]="RecordForm" (ngSubmit)="onEditSubmit()">
                <input type="text" class="form-control" id="time" formControlName="time" hidden="true" >
                <input type="text" class="form-control" id="date" formControlName="date" hidden="true" >
                <input type="text" class="form-control" id="id" formControlName="id" hidden="true" >
                <div class="mb-3">
                    <div class="row">
                        <div class="col-8">
                            <label for="weight" class="col-form-label" style="font-size: small;">Weight</label>
                            <input type="number" class="form-control" id="folder-name" formControlName="Weight"
                                placeholder="Enter weight in KG">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-8">
                            <label for="weight" class="col-form-label" style="font-size: small;">Total Reps</label>
                            <input type="number" class="form-control" id="folder-name" formControlName="Reps"
                                placeholder="Enter number of repetions">
                        </div>

                    </div>
                    <div>
                        &nbsp;
                    </div>
                    <div class="row">
                        <div class="col-4"><button type="submit" class=" btn buttonbg"
                                style="color: white;">Update</button> </div>
                    </div>

                </div>
            </form>
        </div>
      </div>
    </div>
  </div>
</div>

