.navbg{
    /* background: #642B73;  fallback for old browsers */
/* background: -webkit-linear-gradient(to right, #C6426E, #642B73);  /* Chrome 10-25, Safari 5.1-6 */
/* background: linear-gradient(to right, #C6426E, #642B73); W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
      background: rgba(255, 255, 255, 0.2) !important;
    /* border-radius: 35px !important; */
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1) !important;
    backdrop-filter: blur(5px) !important;
    -webkit-backdrop-filter: blur(5px) !important;
    
}

img.invert {
  filter: invert(100%);
}

.nav-item:hover {
  border: none; /* remove border */
  box-shadow: none; /* remove box-like shadow */
  filter: drop-shadow(0 0 6px #a020f0) 
          drop-shadow(0 0 12px #a020f0)
          drop-shadow(0 0 18px #a020f0);
}