<nav class="navbar bg-body-tertiary navbg">
  <div class="container-fluid">
    <a class="navbar-brand" routerLink="/">
      <img src="../assets/logo-no-background.png" style="width: 156px;" alt="set tracker logo">
    </a>
    <a routerLink="/"><img src="../assets/house-solid.svg" alt="home" style="width: 28px;"></a>
    <!-- <span >
      <img src="../assets/house-solid.svg" alt="home">
    </span> -->
  </div>
  <!-- <i class="fa-solid fa-house" style="color: #1e3a71;"></i> -->
</nav>
<app-breadcrumb></app-breadcrumb>
<router-outlet></router-outlet>
<!-- <nav class="navbar sticky-bottom bg-body-tertiary navbg" style="height: 17px;">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">Sticky bottom</a>
  </div>
</nav> -->